<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col 12 mx-auto">
              <div class="row">
                <!-- left side div -->
                <div class="col-md-6 col-12 main_header_right">
                  <figure><img src="images/mahak.jpeg" alt="Image" class="img-fluid" title="Mahak Agrawal"></figure>
              </div>
                <div class="col-md-6 col-12 main_header_left align-items-center">
                  <h1>I am a <span class="txt-clr"> MERN stack developer </span></h1>
                  <a href="https://in.linkedin.com/in/mahak-agrawal-693834201" target="blank"><button>About me</button></a>
                </div>
                <!-- right side div -->
                
              </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>